NIXPACKS_NODE_VERSION=22
DATABASE_URL=sdfdsf
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_xsf
POSTGRES_DB=pharmacy


# Application Configuration
PORT=3000
NODE_ENV=production
FRONTEND_URL=https://pharmacy-frontend-rose.vercel.app
CORS_ORIGINS=http://localhost:3000,https://pharmacy-frontend-rose.vercel.app
VERIFICATION_BASE_URL=https://pharmacy-frontend-rose.vercel.app


# JWT Configuration (if needed)
JWT_SECRET=
JWT_EXPIRATION=24h


ENCRYPTION_KEY=pRbwRPZbrKn9KNEzRJZcUGbOdKCfYWowhcUS5UrOLGo=

# API Configuration
API_PREFIX=api
API_VERSION=v1


#mail configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=naj06cse@gmail.com
SMTP_PASS=# Replace with the generated app password
FROM_EMAIL=naj06cse@gmail.com
FROM_NAME=Sprw Forge Team
