NIXPACKS_NODE_VERSION=20
DATABASE_URL=postgresql://neondb_owner:npg_xQ9gHZCNu0wt@ep-blue-mouse-a13ikyet-pooler.ap-southeast-1.aws.neon.tech/lms?sslmode=require&channel_binding=require
POSTGRES_USER=neondb_owner
POSTGRES_PASSWORD=npg_xQ9gHZCNu0wt
POSTGRES_DB=pharmacy


# Application Configuration
PORT=3000
NODE_ENV=production


# JWT Configuration (if needed)
JWT_SECRET=
JWT_EXPIRATION=24h


ENCRYPTION_KEY=pRbwRPZbrKn9KNEzRJZcUGbOdKCfYWowhcUS5UrOLGo=

# API Configuration
API_PREFIX=api
API_VERSION=v1


#Two FA Setup
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=sfl_dev@taibainstitute.com.sa
EMAIL_PASS=qjxdmqdwpswrkrvw