NIXPACKS_NODE_VERSION=22
DATABASE_URL=database_url_placeholder
POSTGRES_USER=pharmacy_user
POSTGRES_PASSWORD=pharmacy_password
POSTGRES_DB=pharmacy


# Application Configuration
PORT=3000
NODE_ENV=production
CORS_ORIGINS=http://localhost:3000,https://pharmacy-frontend-rose.vercel.app
FRONTEND_URL=https://pharmacy-frontend-rose.vercel.app
VERIFICATION_BASE_URL=https://pharmacy-frontend-rose.vercel.app

# JWT Configuration (if needed)
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRATION=24h
ENCRYPTION_KEY=your_encryption_key

# API Configuration
API_PREFIX=api
API_VERSION=v1


# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=cloud_server_name_placeholder
CLOUDINARY_API_KEY=api_key_placeholder
CLOUDINARY_API_SECRET=cloudinary_api_secret_placeholder
CLOUDINARY_FOLDER=pharmacy

#mail configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASS=your_email_password
FROM_EMAIL=example@gmail.com
FROM_NAME=Pharmacy Forge Team
